<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.online.shop.ProductMapper">
	<!-- Create(insert): 새 상품 등록 -->
	<!-- 상품 정보 등록 -->
	<insert id="insertProduct">
	insert into s_tbl_product(p_name, p_price, p_cate1, p_cate2, p_stock, s_id, p_dis_rate, p_favo, p_sale_cnt)
	values(#{p_name}, #{p_price}, #{p_cate1}, #{p_cate2}, #{p_stock}, #{s_id}, #{p_dis_rate}, #{p_favo}, #{p_sale_cnt})
	</insert>
	
	<!-- 옵션 정보 등록 -->
	<insert id="insertOption">
	insert into s_tbl_option(o_title, o_cont, o_stock, p_name, s_id)
	values(#{o_title}, #{o_cont}, #{o_stock}, #{p_name}, #{s_id})
	</insert>
	
	<!-- 이미지 정보 등록 -->
	<insert id="insertImage">
	insert into s_tbl_image(i_img, i_cont, p_name, s_id)
	values(#{i_img}, #{i_cont}, #{p_name}, #{s_id})
	</insert>
	
</mapper>